<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- The following settings are used for piece finding tolerance settings in the application in addition to storing the list of edgestyles howden templaters use -->
	<appSettings>
		<add key="Template_TargetLayers" value="FLAT_POLISH,PRIMARY,SAWN,SITE_JOINT,POLISHED_CUTOUT,SPLASH,HAND_FINISHED_NOTCH_,SECONDARY_EDGE,DRILL_HOLE,DRAINER_GROOVES,UNPOLISHED_CUTOUT" />
		<add key="Template_OtherLayers" value="CABINETS,REFERENCE_KEEP,WALLS,PROFILE_MARKER,ADORNMENT_DIMENSIONS,TEXT,REFERENCE_DROPIN" />
		<add key ="Tolerance_Closeness" value="0.2f" />
		<add key ="Tolerance_PointNearLine" value="2f"/>
		<add key ="Tolerance_SegmentIntersection" value="0.01f"/>
		<add key ="Tolerance_RangeLength" value="10"/>
		<add key ="Tolerance_RangeWidth" value ="10"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>